@use "@styles/@root/colors";
@use "@styles/@root/utils";

.inner {
  background-color: colors.$dark-background;
  .page {
    background-color: colors.$background;
  }
  .slide {
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: colors.$background;
    z-index: 25;
  }
}
