/* MAIN */

$background: #f4efe9;
$dark-background: #161616;
$light-green-background: #4e5049;

/* SECONDARY */

$heading: #ddd9ce;
$dark-heading: #282828;
$green-heading: #cedaae;

$text: rgb(221, 217, 206, 0.8);
$light-text: #6c6c6c;
$green-text: #969a89;

$light-heading: #8c3b2a;

$border: #dad3cb;
$green-border: #656860;

$light-green-card: #64665d;
