$wrapper-size-xs: 10%; /* Mobile devices */
$wrapper-size-sm: 10%; /* Tablet devices */
$wrapper-size-md: 10%; /* Laptop devices */
$wrapper-size-lg: 10%; /* Large laptop devices */
$wrapper-size-xl: 10%; /* 4K devices */

.wrapper {
  width: 100%;
  box-sizing: border-box;

  @media only screen and (min-width: 320px) and (max-width: 767px) {
    padding: 0 $wrapper-size-xs;
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    padding: 0 $wrapper-size-sm;
  }
  @media only screen and (min-width: 1024px) and (max-width: 1439px) {
    padding: 0 $wrapper-size-md;
  }
  @media only screen and (min-width: 1440px) and (max-width: 2560px) {
    padding: 0 $wrapper-size-lg;
  }
  @media only screen and (min-width: 2561px) {
    width: 1700px;
    display: block;
    margin: 0 auto;
  }

  &.sm-w {
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      padding: 0 5%;
    }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      padding: 0 5%;
    }
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
      padding: 0 5%;
    }
    @media only screen and (min-width: 1440px) and (max-width: 2560px) {
      padding: 0 5%;
    }
    @media only screen and (min-width: 2561px) {
      padding: 0 0;
    }
  }
  &.xs-w {
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      padding: 0 calc($wrapper-size-xs + 10%);
    }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      padding: 0 calc($wrapper-size-sm + 10%);
    }
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
      padding: 0 calc($wrapper-size-md + 10%);
    }
    @media only screen and (min-width: 1440px) and (max-width: 2560px) {
      padding: 0 calc($wrapper-size-lg);
    }
    @media only screen and (min-width: 2560px) {
      padding: 0 calc($wrapper-size-lg + 10%);
    }
  }
  &.lg-w {
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      padding: 0 calc($wrapper-size-xs - 2%);
    }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      padding: 0 calc($wrapper-size-sm - 5%);
    }
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
      padding: 0 calc($wrapper-size-md - 5%);
    }
    @media only screen and (min-width: 1440px) and (max-width: 2560px) {
      padding: 0 3rem !important;
    }
    @media only screen and (min-width: 1720px) {
      width: 100%;
      padding: 0 6rem !important;
    }
  }
  &.xl-w {
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      padding: 0 calc($wrapper-size-xs - 5.5%);
    }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      padding: 0 calc($wrapper-size-sm - 5.5%);
    }
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
      padding: 0 calc($wrapper-size-md - 5.5%);
    }
    @media only screen and (min-width: 1440px) and (max-width: 2560px) {
      padding: 0 calc($wrapper-size-lg - 5.5%);
    }
    @media only screen and (min-width: 2560px) {
      padding: 0 calc($wrapper-size-lg - 5.5%);
    }
  }
}
